<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>servlets.log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCard</servlet-name>
        <servlet-class>admin_servlets.updateCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manage_Orders</servlet-name>
        <servlet-class>admin_servlets.Manage_Orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Complete_Order</servlet-name>
        <servlet-class>admin_servlets.Complete_Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>admin_servlets.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMail</servlet-name>
        <servlet-class>admin_servlets.sendMail</servlet-class>
        <!-- https://mvnrepository.com/artifact/jakarta.activation/jakarta.activation-api -->
    </servlet>
    <servlet>
        <servlet-name>provide_Category</servlet-name>
        <servlet-class>servlets.provide_Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Products</servlet-name>
        <servlet-class>admin_servlets.Add_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Order</servlet-name>
        <servlet-class>admin_servlets.Process_Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>admin_servlets.dashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCard</servlet-name>
        <url-pattern>/updateCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage_Orders</servlet-name>
        <url-pattern>/Manage_Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Complete_Order</servlet-name>
        <url-pattern>/Complete_Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMail</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
    <dependency>
        <groupId>jakarta.activation</groupId>
        <artifactId>jakarta.activation-api</artifactId>
        <version>2.0.0</version>
    </dependency>
    <servlet-mapping>
        <servlet-name>provide_Category</servlet-name>
        <url-pattern>/provide_Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Products</servlet-name>
        <url-pattern>/Add_Products</url-pattern>
    </servlet-mapping>
    <!--    customer login-->
    <servlet>
        <servlet-name>customerLoginServlet</servlet-name>
        <servlet-class>admin_servlets.customerLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerLoginServlet</servlet-name>
        <url-pattern>/customerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Order</servlet-name>
        <url-pattern>/Process_Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
</web-app>
